# Backend
/backend/files
/backend/venv
/backend/__pycache__
/backend/.env
*.pyc
.env

# Frontend
/frontend/dist/
/frontend/.astro/
/frontend/node_modules/
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/.env
/frontend/.env.production
.DS_Store
.idea/