---
// src/components/Header.astro
---

<header
	class="flex justify-between items-center mb-10 animate-slide-up"
	style="animation-delay: 0ms;"
>
	<h1 class="text-4xl md:text-5xl font-extrabold tracking-tight">
		<span
			class="bg-gradient-to-r from-cyan-400 to-blue-500 bg-clip-text text-transparent"
			>NetDrop.</span
		>
	</h1>
	<button
		id="logoutBtn"
		class="hidden text-slate-400 hover:text-white transition-colors duration-200"
		title="Cerrar sesión"
	>
		<i class="fa-solid fa-arrow-right-from-bracket text-xl"></i>
	</button>
</header>
