---
// src/components/ToastContainer.astro
---
<!-- Notificaciones (Toast) -->
<div id="toastContainer" class="fixed top-4 left-4 right-4 sm:left-auto sm:right-4 sm:w-80 z-50 flex flex-col gap-2 pointer-events-none"></div>
